body {
  background-color: #f6e6e4;
}

.top-heading {
  width: 62%;
  height: 300px;
}

.top-image {
  width: 33%;
  margin: 12% 2%;
 
}

.second-heading {
  width: 62%;
  height: 300px;
}
.second-heading h2{
  margin:5% auto;
}

.bottom-heading {
  width: 100%;
  height: 100px;
  align-content: center;
  margin-top: 3%;
  margin-bottom: 1%;
}

.skills-gif-container {
  width: 100%;
  height: 200px;
  flex-wrap: wrap;
  margin-top: 1%;
}

.skills-gif {
  margin: 2px auto;
}

.card1 {
  width: 40%;
  height: 300px;
  flex-wrap: wrap;
}

.card1 > h2 {
  margin:5% 9%;
  text-align: left;
} 

.card2 > h2 {
  margin:5% 5%;
  text-align: left;
} 
h3 {
  font-family: 'Cabin';
}
h4 {
  font-family: 'Noto Sans';
  margin-top:10px;
}
.card2 {
  width: 40%;
  height: 300px;
  flex-wrap: wrap;
}
.top-container {
  display: flex;
  width: 90%;
  height: 600px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #fad2e1;
  border-radius: 20px;
  transition-property: transform, color;
  transition-duration: 1s;
  margin-top: 3%;
}

.middle-container {
  margin-top: 3%;
  display: flex;
  width: 90%;
  height: 600px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #bde0fe;
  transition-property: transform;
  transition-duration: 1s;
  border-radius: 20px;
}

.bottom-container {
  display: flex;
  width: 90%;
  height: 800px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f0f3bd;
  border-radius: 20px;
  transition-property: transform;
  transition-duration:1s;
  margin-top: 3%;
}

.my-projects {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 700px;
  justify-content: space-between;
  background-color: #c7f9cc;
  border-radius: 20px;
  margin-top: 3%;
  transition-property: transform;
  transition-duration:1s;
}


.my-projects h1 {
  margin: 7% 6.5% 0% 0%;
  
}

.cards-container {
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: 20%;
  height: 100%;
  margin: 0% 5%;
  background-color: transparent;
  border: none;
}
.working-gif {
  width: 40%;
  height: 325px;
}

.play-button {
  height: 200px;
}


.bottom-container:hover,
.bottom-container:focus {
  transform: scale(1.07);
}

.my-projects:hover,
.my-projects:focus {
  transform: scale(1.07);
}

.middle-container:hover,
.middle-container:focus {
  transform: scale(1.07);
}

.top-container:hover,
.top-container:focus {
  transform: scale(1.07);
}

.top-container:hover h1 {
  color: #0575e6;
}

h1 {
  text-align: center;
  color: #00f260;
  font-size: 5.5rem;
  font-family: "Montserrat";
  font-weight: bold;
  opacity: 1;
  margin: 28% auto;
  transition-property: color;
  transition-duration: 1s;
}

.bio-title {
  text-align: center;
  color: #00f260;
  font-size: 5.5rem;
  font-family: "Montserrat";
  font-weight: bold;
  opacity: 1;
  margin: 1% auto;
  transition-property: color;
  transition-duration: 1s;
}

.bio-gif {
  height:300px;
  flex-wrap: wrap;
  margin-top: 1%;
}

footer {
  width: 100%;
  height: 100px;
  font-family: "Work Sans";
  margin-top:-3%;
    background-color: #DCCCFF;
    border-top-left-radius:50px ;
    border-top-right-radius: 50px;
}

.bio-text {
  text-align: left;
  font-size: 1.2rem;
  font-family: "Work Sans";
  padding: 0 3%;
}

.card1 p {
  margin-left: 9%;
}
.skills-text {
  text-align: left;
  font-size: 1.4rem;
  font-family: "Work Sans";
  margin-left: 5%;
}

footer h2 {
  padding:2%;
}

h2 {
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  margin: 8% auto;
}

@media (max-width: 700px) {
  .top-container {
    display: flex;
    width: 90%;
    height: 450px;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 20px;
    margin-top: 7%;
  }

  h1,
  .bio-title {
    font-size: 2rem;
    margin: 7% auto;
  }

  h2 {
    font-size: 0.7rem;
  }
  h3 {
    font-size:1rem;
  }
  h4 {
    font-size: 0.8rem;
  }

  .top-image {
    width: 100%;
    height: 200px;
    padding: 5%;
  }

  .second-heading {
    width: 100%;
    flex-wrap: wrap;
    height: 100px;
  }

  .second-heading h2 {
    margin:11% auto;
  }

  .top-heading {
    width: 100%;
    height: 20px;
    flex-wrap: wrap;
  }

  .middle-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 550px;
    flex-wrap: wrap;
    margin-top: 10%;
    align-content: start;
    border-radius: 20px;
  }
  .card2>h2 {
    margin: 5% 8%;
  }

  .bio-gif {
    flex-wrap: wrap;
    margin: 5% auto;
    height:250px;
  }

  .bio-text {
    
    font-size: 0.8rem;
    padding: 0 5%;
  }
  .skills-text {
    font-size:0.8rem;
  }

  .bottom-container {
    width: 90%;
    height: 670px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #f0f3bd;
    border-radius: 50px;
    align-content: flex-start;
    margin-top: 10%;
  }

  .bottom-heading {
    margin-bottom: 1px;
    padding-top:30px;
  }
  .card1 {
    flex-wrap: wrap;
    width: 90%;
    height: 200px;
  }
  .card2 {
    flex-wrap: wrap;
    
    width: 90%;
    height: 200px;
  }
  .card1 p {
    margin-left: 7%;
    margin-top: 4%;
  }

  .card2 p {
    margin-left: 7%;
    margin-top: 4%;
  }
  .skills-gif-container {
    margin-top: -10%;
  }

  .my-projects {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 10%;
  }
  .my-projects h1 {
    margin: 0;
    width: 100%;
  }
  .working-gif {
    width: 100%;
    height: 300px;
    
  }
  .card {
    width: 50%;
    height: 86%;
    margin-top: 4%;
  }
  .play-button {
    height: 180px;
  }

  footer {
    margin-top:10%;
    background-color: #DCCCFF;
  }
  footer h2 {
    padding-top:14%;
  }

  .cards-container {
    height:270px;
  }
}
